* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


 body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue";
    background-color: #f4f4f5;
}

body > div {
    margin: auto;
}

.btn + .btn{
    margin-left: 16px;
}

.btn{
    display: inline-block;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 40px;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

.btn:hover{
    opacity: 0.8;
}

.btn--success{
background-color:#71be34 ;
}


.btn--warning{
background-color: #ffb702;
}



.btn--danger{
background-color: #ff623d;
}

.btn--disable{
    opacity: 0.5 !important;

}
